{% extends 'base.html.twig' %}


{% block title %}Criar nova serie{% endblock %}

{% block body %}
    <form method="post">
        <div class="mb-3">
            <label for="serie" class="form-label">Nome da serie</label>
            <input class="form-control" type="text" name="serie" id="serie">
        </div>

        <button class="btn btn-dark" type="submit">Cadastrar</button>
    </form>
{% endblock %}
