{% extends 'base.html.twig' %}


{% block title %}Criar nova serie{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_series_add') }}">
        <div class="mb-3">
            <label for="name" class="form-label">Nome da serie</label>
            <input class="form-control" type="text" name="name" id="name">
        </div>

        <button class="btn btn-dark" type="submit">Salvar</button>
    </form>
{% endblock %}
